@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800&display=swap');

// font-family: 'Work Sans', sans-serif;

// Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115)

@mixin generalStyle {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
    }

    body {
        max-width: 1440px;
        margin: 0 auto;
        background-color: $dunkelgrau;
        font-family: 'Work Sans';
    }

    h1 {
        font-weight: 300;
        font-size: 3.5rem;
        color: $rosa;
    }

    p {
        color: $rgb2;
        font-size: 1.5rem;
        line-height: 1.5;
    }

}